---
// import ContactLayout from "../layouts/ContactLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cookies" additionalStylesheets={["/styles/terms_privacy.css"]}>
  <main>
    <div class="some_container">
      <h1 class="kinda_big">Cookie Policy</h1>
      <p>
        Welcome to Imagefy. Our Cookie Policy explains how we use cookies and similar
         technologies to recognize you when you visit our application. It explains what
          these technologies are and why we use them, as well as your rights to control
           our use of them.
      </p>
      <h3>What are cookies?</h3>
      <p>
        Cookies are small data files that are placed on your computer or mobile device
         when you visit a website or use an online service. Cookies are widely used by
          online service providers to facilitate and help to make the interaction with
           users faster and easier, as well as to provide reporting information.
      </p>
      <h3>Why do we use cookies?</h3>
      <p>
        We use first-party and third-party cookies for several reasons. Some cookies are
        required for technical reasons in order for our web application to operate, and
        we refer to these as "essential" or "strictly necessary" cookies. Other cookies
        enable us to track and target the interests of our users to enhance the experience
        on our online application. Third parties serve cookies through our website for
        advertising, analytics, and other purposes.
      </p>
      <h3>Modification of Terms</h3>
      <p>
        We reserve the right to change or modify these Terms of Service at any
        time and in our sole discretion. If we make changes to these Terms, we
        will provide notice of such changes, such as by sending an email
        notification, providing notice through the Services, or updating the “Last
        Updated” date at the beginning of these Terms.
      </p>
      <h3>User Conduct</h3>
      <p>Types of cookies used by Imagefy:
      </p>
      <ol>
        <li>
            Essential Cookies: These cookies are strictly necessary to provide you
            with services available through our web application and to use some of
            its features, such as access to secure areas.
        </li>
        <li>
            Performance and Functionality Cookies: These cookies are used to enhance
            the performance and functionality of our web application but are non-essential
            to their use. However, without these cookies, certain functionality may
            become unavailable.
        </li>
        <li>
            Analytics and Customization Cookies: These cookies collect information that
            is used either in aggregate form to help us understand how our web application
            is being used or how effective our marketing campaigns are, or to help us
            customize our web application for you.
        </li>
        <li>
            Advertising Cookies: These cookies are used to make advertising messages more
            relevant to you. They perform functions like preventing the same ad from
            continuously reappearing, ensuring that ads are properly displayed for advertisers,
            and in some cases selecting advertisements that are based on your interests.
        </li>
      </ol>
      <h3>How can I control cookies?</h3>
      <p>
        You have the right to decide whether to accept or reject cookies. You can exercise your
        cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager
        allows you to select which categories of cookies you accept or reject. Essential cookies
        cannot be rejected as they are strictly necessary to provide you with services.

        The specific steps to control and delete cookies vary from browser to browser. If you
        prefer to restrict, block, or delete cookies from Imagefy or any other website,
        you can use your browser to do this. Each browser is different, so check the 'Help'
        menu of your particular browser (or your mobile phone's user manual) to learn how to change
        your cookie preferences.
      </p>
      <h3>Changes to this Cookie Policy</h3>
      <p>
        We may update this Cookie Policy from time to time in order to reflect, for example,
        changes to the cookies we use or for other operational, legal, or regulatory reasons.
        Please therefore re-visit this Cookie Policy regularly to stay informed about our use
        of cookies and related technologies.

      <h3>Contact Us</h3>
      <p>
        Imagefy was developed and managed by Imagefy Group LLC with headquarters
        in:
      </p>
      <ul>
        <li>Istanbul</li>
        <li>Sariyer, 34240</li>
        <li>Turkey</li>
      </ul>
      <p>
        If you have any questions about our use of cookies or other technologies, please email us at support@imagefy.com
      </p>
    </div>
  </main>
  <br><br><br><br><br><br>
</Layout>
