---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Main Page" additionalStylesheets={["/styles/styles.css"]}>
  <main>
    <!-- IntroSection -->
    <div id="middle-container-1-outer" class="middle-container-1-outer">
      <div class="middle-container-1-inner">
        <br /><br /><br />
        <span class="big">Imagefy</span>
        <br /><br /><br />
        <span class="not_so_big"
          >is a web application that provides photos generated completely by AI.
          You can search our gallery to see example images.</span
        >
        <br /><br /><br />
      </div>
      <a href="/signup">
        <button class="btn-try">
          <h1 class="sign-in">Get Started!</h1>
        </button>
      </a>
      <br /><br /><br /><hr />
    </div>

    <!-- ImageSection -->
    <div id="middle-container-2" class="middle-container-2">
      <div class="container-left-img">
        <img
          class="left-img"
          src="../images/african_man01.png"
          alt="african_man01-img"
        />
      </div>

      <div class="container-between-imgs">
        <br /><br /><br />
        <span class="not_so_big">AI-generated images</span>
        <br /><br /><br />
        <span class="smol"
          >AI-generated images that are created from scratch are ideal for
          advertising, design, marketing, research, and machine learning!</span
        >
      </div>

      <div class="container-right-img">
        <img
          class="right-img"
          src="../images/arabic_woman01.png"
          alt="arabic_woman01-img"
        />
      </div>
    </div>
    <hr />

    <!-- FeatureSection -->
    <div id="middle-container-3" class="middle-container-3">
      <br /><br /><br /><hr />
      <div class="empty-2"></div>
      <div class="container-3-1">
        <br /><br />
        <span class="not_so_big">Automated generation</span>
        <br /><br /><br />
        <span class="really_smol"
          >Unleash the full potential of automated creativity with our
          state-of-the-art AI. Watch as it transforms your ideas into stunning
          visual realities with unparalleled ease and precision. Step into the
          future of digital artistry, where our Automated Generation is your
          personal artist, available 24/7 to bring your creative dreams to life.</span
        >
      </div>
      <div class="empty-1"></div>
      <div class="container-3-2">
        <br /><br />
        <span class="not_so_big">More than 80 races</span>
        <br /><br /><br />
        <span class="really_smol"
          >Celebrate the beauty of diversity with our extensive library,
          showcasing more than 80 races from around the globe. Every image is a
          window into a world of variety, designed to reflect the unique stories
          and cultures that enrich our planet. With just one click, you can
          connect with a vast array of ethnicities, bringing authenticity and
          inclusivity to your projects.</span
        >
      </div>
      <div class="empty-1"></div>
      <div class="container-3-3">
        <br /><br />
        <span class="not_so_big">Variety of ages</span>
        <br /><br /><br />
        <span class="really_smol"
          >Capture the full circle of life with our Variety of Ages feature. Our
          AI-generated images span from the fresh-faced spark of childhood to
          the weathered lines of wisdom that only years can bring. Whether for
          marketing campaigns or personal projects, our age-inclusive selections
          ensure you have access to the perfect image that resonates with every
          generation.</span
        >
      </div>
      <div class="empty-2"></div>
    </div>
    <hr />

    <!-- ExportSection -->
    <div id="middle-container-4" class="middle-container-4">
      <br /><br /><br /><hr />
      <div class="empty-2"></div>
      <div class="container-4-1">
        <br /><br />
        <span class="not_so_big">Image export</span>
        <br /><br /><br />
        <span class="really_smol"
          >Ready to see your AI-crafted images in the real world? Our Image
          Export feature empowers you to effortlessly transition from digital
          drafts to tangible masterpieces. Whether it's for professional
          portfolios, high-quality prints, or impactful presentations, exporting
          your images is just a matter of choice, not complexity.</span
        >
      </div>
      <div class="empty-1"></div>
      <div class="container-4-2">
        <img
          class="bottom-img"
          src="../images/white_woman01.png"
          alt="white_woman01-img"
        />
      </div>
      <div class="empty-1"></div>
      <div class="container-4-3">
        <br /><br />
        <span class="not_so_big">Download in bulks</span>
        <br /><br /><br />
        <span class="really_smol"
          >Why settle for less when you can have more? Our Bulk Download feature
          is a powerhouse, delivering a plethora of AI-generated images straight
          to your device. Ideal for those who need a large volume of visuals in
          record time, it's the perfect solution for clients who demand variety
          and volume without the wait.</span
        >
      </div>
      <div class="empty-2"></div>
    </div>

    <hr />
  </main>
</Layout>
