---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy" additionalStylesheets={["/styles/terms_privacy.css"]}>
  <main>
    <h1 class="kinda_big">Privacy Policy</h1>
    <p>
      Welcome to Imagefy. We are committed to respecting the privacy of our
      users. This Privacy Policy explains how we collect, use, disclose, and
      safeguard your information when you visit our website [imagefy.ai],
      including any other media form, media channel, mobile website, or mobile
      application related or connected thereto.
    </p>
    <h3>Information We Collect</h3>
    <p>
      We may collect information about you in a variety of ways. The information
      we may collect on the Site includes:
    </p>
    <ul>
      <li>
        Personal Data: Personally identifiable information, such as your name,
        shipping address, email address, and telephone number, and demographic
        information, such as your age, gender, hometown, and interests, that you
        voluntarily give to us when you register with the Site or when you
        choose to participate in various activities related to the Site.
      </li>
      <li>
        Derivative Data: Information our servers automatically collect when you
        access the Site, such as your IP address, your browser type, your
        operating system, your access times, and the pages you have viewed
        directly before and after accessing the Site.
      </li>
      <li>
        Financial Data: Financial information, such as data related to your
        payment method (e.g., valid credit card number, card brand, expiration
        date) that we may collect when you purchase, order, return, exchange, or
        request information about our services from the Site.
      </li>
    </ul>
    <h3>Use of Your Information</h3>
    <p>
      Having accurate information about you permits us to provide you with a
      smooth, efficient, and customized experience. Specifically, we may use
      information collected about you via the Site to:
    </p>
    <ul>
      <li>Create and manage your account.</li>
      <li>Email you regarding your account or order.</li>
      <li>
        Fulfill and manage purchases, orders, payments, and other transactions
        related to the Site.
      </li>
      <li>Increase the efficiency and operation of the Site. s</li>
    </ul>
    <h3>Disclosure of Your Information</h3>
    <p>
      We may share information we have collected about you in certain
      situations. Your information may be disclosed as follows:
    </p>
    <ul>
      <li>By Law or to Protect Rights</li>
      <li>Third-Party Service Providers</li>
      <li>Marketing Communications</li>
      <li>Interactions with Other Users</li>
      <li>Online Postings</li>
    </ul>
    <h3>Tracking Technologies</h3>
    <p>
      Cookies and Web Beacons: We may use cookies, web beacons, tracking pixels,
      and other tracking technologies on the Site to help customize the Site and
      improve your experience.
    </p>
    <h3>Third-Party Websites</h3>
    <p>
      The Site may contain links to third-party websites and applications of
      interest, including advertisements and external services, that are not
      affiliated with us. Once you have used these links to leave the Site, any
      information you provide to these third parties is not covered by this
      Privacy Policy.
    </p>
    <h3>Security of Your Information</h3>
    <p>
      We use administrative, technical, and physical security measures to help
      protect your personal information. While we have taken reasonable steps to
      secure the personal information you provide to us, please be aware that
      despite our efforts, no security measures are perfect or impenetrable.
    </p>
    <h3>Policy for Children</h3>
    <p>
      We do not knowingly solicit information from or market to children under
      the age of 13. If you become aware of any data we have collected from
      children under age 13, please contact us using the contact information
      provided below.
    </p>
    <h3>Changes to This Privacy Policy</h3>
    <p>
      We reserve the right to make changes to this Privacy Policy at any time
      and for any reason. We will alert you about any changes by updating the
      “Effective Date” of this Privacy Policy.
    </p>
    <h3>Contact Us</h3>
    <p>
      Imagefy was developed and managed by Imagefy Group LLC with headquarters
      in:
    </p>
    <ul>
      <li>Istanbul</li>
      <li>Sariyer, 34240</li>
      <li>Turkey</li>
    </ul>
    <p>
      A relevant person responsible for the privacy could be reached via email
      support@imagefy.com
    </p>
  </main>
</Layout>
