---
// import ContactLayout from "../layouts/ContactLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms" additionalStylesheets={["/styles/terms_privacy.css"]}>
  <main>
    <h1 class="kinda_big">Terms of Service</h1>
    <p>
      Welcome to Imagefy. We provide the image generation services to you
      subject to the following Terms of Service, which may be updated by us from
      time to time without notice to you.
    </p>
    <h3>Acceptance of Terms</h3>
    <p>
      By accessing and using our services, you accept and agree to be bound by
      the terms and provision of this agreement. In addition, when using these
      particular services, you shall be subject to any posted guidelines or
      rules applicable to such services.
    </p>
    <h3>Privacy Policy</h3>
    <p>
      Your privacy is important to us. Our Privacy Policy is hereby incorporated
      into these Terms of Service by reference. Please read the privacy policy
      carefully for information relating to our collection, use, and disclosure
      of your personal information.
    </p>
    <h3>Modification of Terms</h3>
    <p>
      We reserve the right to change or modify these Terms of Service at any
      time and in our sole discretion. If we make changes to these Terms, we
      will provide notice of such changes, such as by sending an email
      notification, providing notice through the Services, or updating the “Last
      Updated” date at the beginning of these Terms.
    </p>
    <h3>User Conduct</h3>
    <p>You agree not to use the Services to:</p>
    <ol>
      <li>
        Post, use or transmit content that you do not have the right to post or
        use, for example, under intellectual property, confidentiality, privacy
        or other applicable laws.
      </li>
      <li>
        Post, use or transmit unsolicited or unauthorized content, including
        advertising or promotional materials, "junk mail," "spam," "chain
        letters," "pyramid schemes," or any other form of unsolicited or
        unwelcome solicitation.
      </li>
      <li>
        Post, use or transmit content that contains software viruses or any
        other computer code, files or programs designed to interrupt, destroy or
        limit the functionality of any computer software or hardware or
        telecommunications equipment.
      </li>
    </ol>
    <h3>User-Generated Content</h3>
    <p>
      You may submit content, including text, images, photographs and video to
      the Services provided by us. By submitting content, you grant us a
      worldwide, perpetual, irrevocable, non-exclusive, royalty-free license to
      use, reproduce, modify, adapt, publish, translate, create derivative works
      from, distribute, perform, and display such content.
    </p>
    <h3>Disclaimer of Warranties</h3>
    <p>
      Your use of the Services is at your sole risk. The Services are provided
      on an "AS IS" and "AS AVAILABLE" basis. We expressly disclaim all
      warranties of any kind, whether express or implied, including, but not
      limited to the implied warranties of merchantability, fitness for a
      particular purpose and non-infringement.
    </p>
    <h3>Limitation of Liability</h3>
    <p>
      We shall not be liable for any indirect, incidental, special,
      consequential or punitive damages, or any loss of profits or revenues,
      whether incurred directly or indirectly, or any loss of data, use,
      goodwill, or other intangible losses, resulting from:
    </p>
    <ol>
      <li>
        Your access to or use of or inability to access or use the services;
      </li>
      <li>
        Any conduct or content of any third party on the services, including
        without limitation, any defamatory, offensive or illegal conduct of
        other users or third parties;
      </li>
      <li>Any content obtained from the services; or</li>
      <li>
        Unauthorized access, use or alteration of your transmissions or content.
      </li>
    </ol>
    <h3>Governing Law</h3>
    <p>
      These Terms shall be governed and construed in accordance with the laws of
      [Jurisdiction], without regard to its conflict of law provisions.
    </p>
    <h3>Contact Us</h3>
    <p>
      Imagefy was developed and managed by Imagefy Group LLC with headquarters
      in:
    </p>
    <ul>
      <li>Istanbul</li>
      <li>Sariyer, 34240</li>
      <li>Turkey</li>
    </ul>
    <p>
      A relevant person responsible for the privacy could be reached via email
      support@imagefy.com
    </p>
  </main>
</Layout>
