<div class="bottom-container">
  <div class="dropdown_bottom">
    <a href="/Terms" class="top-link" style={{ padding: "10px" }}
      >Terms of Service</a
    >
  </div>
  <div class="dropdown_bottom">
    <a href="/Privacy" class="top-link" style={{ padding: "10px" }}
      >Privacy Policy</a
    >
  </div>
  <div class="dropdown_bottom">
    <a
      href="mailto:support@imagefy.com"
      class="top-link"
      style={{ padding: "10px" }}>support@imagefy.com</a
    >
  </div>
  <div class="dropdown_bottom">
    <span class="top-link" style={{ padding: "10px" }}
      >Copyright © 2023 Imagefy All rights reserved.</span
    >
  </div>
</div>
