<!-- <div class="bottom-container">
  <div class="dropdown_bottom">
    <a href="/Terms" class="top-link" style={{ padding: "10px" }}
      >Terms of Service</a
    >
  </div>
  <div class="dropdown_bottom">
    <a href="/Privacy" class="top-link" style={{ padding: "10px" }}
      >Privacy Policy</a
    >
  </div>
  <div class="dropdown_bottom">
    <a
      href="mailto:support@imagefy.com"
      class="top-link"
      style={{ padding: "10px" }}>support@imagefy.com</a
    >
  </div>
  <div class="dropdown_bottom">
    <span class="top-link" style={{ padding: "10px" }}
      >Copyright © 2023 Imagefy All rights reserved.</span
    >
  </div>
</div> -->

<footer class="bottom-container">
  <div class="footer-content">
    <div class="footer-section">
      <h4>COMPANY</h4>
      <a href="/AboutUs">About Us</a>
      <a href="/ContactUs">Contact Us</a>

    </div>
    <div class="footer-section">
      <h4>LEGAL</h4>
        <a href="/Privacy">Privacy Policy</a>
        <a href="/Terms">Terms of Service</a>
        <a href="/Cookies">Cookie Policy</a>
      <!-- Add legal links here -->
    </div>
    <div class="footer-section">
      <h4>HELP</h4>
      <a href="/ContactUs">Contact Us</a>
      <a href="/FAQ">FAQ</a>
    </div>
    <div class="footer-section">
      <h4>FOLLOW US</h4>
        <a href="/blog">Blog</a>
        <a href="/Discord">Discord</a>
        <a href="/Twitter">Twitter</a>
        <a href="/Facebook">Facebook</a>
        <a href="/Instagram">Instagram</a>
        <a href="/Youtube">Youtube</a>
    </div>
  </div>
  <div class="footer-trademark">
    <span>Copyright &copy; 2023 Imagefy All rights reserved.</span>
  </div>
</footer>