---
import { getCollection } from "astro:content";
const industries = await getCollection("industries");
---

<div class="top-container">
  <ul class="header">
    <a href="/" class="dropdown">
      <div class="clickableDiv">
        <img class="logo" src="../images/logo.png" alt="logo-img" />
        <span class="imagefy-header">Imagefy</span>
      </div>
    </a>
    <li class="spacer"></li>
    <!-- Dropdown for Services -->
    <div class="dropdown">
      <button class="dropbtn">
        <img class= "item-img" src="../images/services.png" alt="">
        <a class="top-link"></a>Services
      </button>
      <div class="dropdown-content">
        <a href="#middle-container-2">Face Generation</a>
        <a href="#">Human Generation</a>
      </div>
    </div>
    <!-- Dropdown for Industries -->
    <div class="dropdown">
      <button class="dropbtn">
        <img class= "item-img" src="../images/industries-no-bg.png" alt="">
        <a class="top-link">Industries</a>
      </button>
      <div class="dropdown-content">
        {
          industries.map((industries) => (
            <a href={`/industries/${industries.slug}`}>
              {industries.data.title}
            </a>
          ))
        }
      </div>
    </div>
    <!-- Dropdown for Company -->
    <!-- <div class="dropdown">
      <button class="dropbtn">
        <img class= "item-img" src="../images/Company-no-bg.png" alt="">
        Company
      </button>
      <div class="dropdown-content">
        <a href="/AboutUs">About Us</a>
        <a href="/ContactUs">Contact Us</a>
      </div>
    </div> -->
    <!-- Other dropdowns -->
    <div class="dropdown">
      <button class="dropbtn">
        <img class= "item-img" src="../images/pricing.png" alt="">
        <a class= "top-link" href="/Pricing">Pricing</a>
      </button>
    </div>
  </ul>
</div>
