/* ----------------------------------------------------------------*/
/* ------------------------ Universal Stuff -----------------------*/
/* ----------------------------------------------------------------*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-top: 100px;
  padding-bottom: 40px;
}

hr.style-one {
  margin: 0;
  border: none;

  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
  margin: 0;
  border: none;

  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #537b76, #ccc);
}

br {
  background-color: rgb(44, 51, 51);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .benefit-item {
    width: 100%; /* Full width on small screens */
  }
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* -------------------------- Container 1 -------------------------*/
/* ----------------------------------------------------------------*/
.container-1-outer {
  max-width: 100%; /* Or use vw units */
  background: linear-gradient(
    0deg,
    hsla(180, 7%, 19%, 1) 20%,
    hsla(182, 81%, 29%, 1) 88%
  );
  text-align: center;
  justify-content: center;
  margin: auto;
}

.container-1-inner1 {
  /* background: linear-gradient(
    0deg,
    hsla(180, 7%, 19%, 1) 20%,
    hsla(182, 81%, 29%, 1) 88%
  ); */

  background: linear-gradient(
    360deg,
    hsla(180, 7%, 19%, 1) 20%,
    hsla(182, 77%, 22%, 1) 93%
  );
}
.container-1-inner {
  max-width: 100%; /* Or use vw units */
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
  box-sizing: border-box;
  margin: auto;
  height: auto;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* -------------------------- Container 2 -------------------------*/
/* ----------------------------------------------------------------*/

.container-2-1-outer {
  max-width: 100%; /* Or use vw units */
  /* background: linear-gradient(
    180deg,
    hsla(180, 7%, 19%, 1) 0%,
    hsla(145, 26%, 56%, 1) 100%
  ); */
  background: linear-gradient(
    180deg,
    hsla(180, 7%, 19%, 1) 20%,
    hsla(173, 19%, 40%, 1) 100%
  );

  text-align: center;
  justify-content: center;
  margin: auto;
}

.container-2-2-outer {
  max-width: 100%; /* Or use vw units */
  background: linear-gradient(
    360deg,
    hsla(310, 4%, 27%, 1) 20%,
    hsla(173, 19%, 40%, 1) 100%
  );
  text-align: center;
  justify-content: center;
  margin: auto;
}

.container-2 {
  display: flex; /* Use flexbox layout */
  flex-wrap: nowrap; /* Do not wrap items to the next line */
  align-items: stretch; /* Stretch items to fill the container vertically */
  margin: 0;
  width: auto; /* Width will be determined by the content */
  min-height: 500px; /* Minimum height to maintain a consistent design */

  /* max-width: 100%;  */
  /* background: rgb(44, 51, 51); */
  margin: 0;
  width: 100%;
  height: 500px;
  display: flex;
}

.container-2:hover {
  transform: rotateY(10deg);
}

.empty-div {
  max-width: 100%; /* Or use vw units */
  display: inline-block;
  width: 17%;
  height: 100%;
}

.outer-card {
  right: 0px;
  padding: 10px;
}
.Feature-card {
  max-width: 100%; /* Or use vw units */
  display: inline-block;
  width: 34%;
  height: 100%;

  right: 0px;
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  overflow: hidden;

  /* transform: translate(-50%, -50%);  */
}

.container-right-img {
  max-width: 100%; /* Or use vw units */
  display: inline-block;
  width: 33%;
  height: 100%;
  position: relative; /* Added to ensure the absolute positioning is relative to this container */
}

.right-img {
  max-width: 75%;
  max-height: 75%; /* Ensure the image is not taller than the container */
  width: auto; /* Keep image aspect ratio */
  height: auto; /* Keep image aspect ratio */
  position: absolute; /* Position the image absolutely within the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image in the container */
  border-radius: 20px;
  box-shadow: 0px 0px 100px rgb(159, 157, 157);
}

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* --------------------------- Buttons ----------------------------*/
/* ----------------------------------------------------------------*/
.sign-in {
  text-decoration: none;
  color: #2d2c32;
  text-decoration: none;
}

.btn-sign-in {
  background: linear-gradient(to bottom, #e4e1f8 5%, #e4e1f8 100%);
  background-color: #e4e1f8;
  border-radius: 38px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 0px 20px;
  text-decoration: none;
  margin-left: 10px;
  text-decoration: none;
}

.btn-sign-in:hover {
  background: linear-gradient(to bottom, #b0adb0 5%, #ededed 100%);
  background-color: #4e80b5;
}

.btn-sign-in:active {
  position: relative;
  top: 1px;
}

.btn-try {
  background: linear-gradient(to bottom, #31a7e2 5%, #31a7e2 100%);
  background-color: #31a7e2;
  border-radius: 38px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 0px 20px;
  text-decoration: none;
}

.btn-try:hover {
  background: linear-gradient(to bottom, #b0adb0 5%, #ededed 100%);
  background-color: #4e80b5;
}

.btn-try:active {
  position: relative;
  top: 1px;
}

.animated-button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  /* padding: 10px; */
}

.animated-button::before {
  content: "";
  border-radius: 1000px;
  min-width: 300px;
  min-height: 60px;
  /* border: 6px solid #00ffcb; */
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
}

.animated-button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.animated-button:hover::before,
.animated-button:focus::before {
  opacity: 1;
}

.animated-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s infinite;
}

.animated-button:hover::after,
.animated-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* ----------------------------- Fonts ----------------------------*/
/* ----------------------------------------------------------------*/
.big {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: arial;
  text-transform: uppercase;
  top: 50%;
  position: static;
  font-size: 5em;
  text-shadow: 0px 0px 10px rgb(16, 49, 49), 0px 0px 40px cyan,
    0px 0px 80px purple, 0px 0px 120px cyan, 0px 0px 200px cyan;
}

.not_so_big {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #e4e1f8;
  top: 50%;
}

.imagefy-header {
  font-size: 50px;
  color: #e4e1f8;
  top: 50%;
}

.smol {
  font-size: 40px;
  color: #e4e1f8;
  height: 100%;
}

.smoller {
  font-size: 20px;
  color: #e4e1f8;
  height: 100%;
  transform: translate(-50%, -50%); /* Center the image in the container */
}

.really_smol {
  font-size: clamp(
    20px,
    2vw,
    25px
  ); /* Adjust min, preferred, and max values as needed */
  color: #e4e1f8;
  /* height: 100%; */
  max-width: 100%;
  height: auto;
  overflow-wrap: break-word;
  hyphens: auto;
  transform: translate(-50%, -50%); /* Center the image in the container */
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* --------------------------- Carousel ---------------------------*/
/* ----------------------------------------------------------------*/

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.carousel-items {
  position: relative;
  width: 100%;
  height: 500px;
}

.item {
  position: absolute;
  width: 350px;
  height: 350px;
  text-align: justify;
  background: rgba(1, 1, 1, 0.7);
  /* background: #2c3333; */
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the item */
}

#next,
#prev {
  position: absolute;
  top: 50%; /* Align vertically to the middle of the carousel */
  z-index: 2;
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
}

#prev {
  left: 0; /* Align to the left end of the carousel */
}

#next {
  right: 0; /* Align to the right end of the carousel */
}

.carousel-img {
  max-width: 75%;
  max-height: 75%; /* Ensure the image is not taller than the container */
  width: auto; /* Keep image aspect ratio */
  height: auto; /* Keep image aspect ratio */
  position: absolute; /* Position the image absolutely within the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image in the container */
  border-radius: 20px;
}

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* --------------------------- Search bar ---------------------------*/
/* ----------------------------------------------------------------*/

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
}

.input:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 10px;
}

.input::placeholder {
  color: #dddddd;
}

.svg_icon {
  position: absolute;
  left: 10px;
  fill: #4660dc;
  width: 18px;
  height: 18px;
}
