/* ----------------------------------------------------------------*/
/* ------------------------ Universal Stuff -----------------------*/
/* ----------------------------------------------------------------*/
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 100px;
    padding-bottom: 40px;
}
/* 
ul{
    margin: 0;
} */

hr{
    background-color: #2D2C32;
    height: 5px;
    margin: 0;
    border: none;
}

  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .benefit-item {
      width: 100%; /* Full width on small screens */
    }
  }
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* ------------------------ Mid Container 1 -----------------------*/
/* ----------------------------------------------------------------*/
.middle-container-1-outer{
    max-width: 100%; /* Or use vw units */
    background-color: #2C3333;
    background: rgb(45,44,50);
    background: linear-gradient(90deg, rgba(45,44,50,1) 24%, rgba(46,79,79,1) 60%, rgba(19,133,138,1) 100%);
    text-align: center;
    margin: auto;
}

.middle-container-1-inner{
    max-width: 100%; /* Or use vw units */
    text-align: center;
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    margin: auto;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


/* ----------------------------------------------------------------*/
/* ------------------------ Mid Container 2 -----------------------*/
/* ----------------------------------------------------------------*/
.middle-container-2{
    max-width: 100%; /* Or use vw units */
    background: rgb(44,51,51);
    background: linear-gradient(90deg, rgba(44,51,51,1) 24%, rgba(14,131,136,1) 60%, rgba(69,165,170,1) 100%);
    
    margin: 0;
    width:100%; 
    height :500px;
    display: flex;
}

.container-left-img{
    max-width: 100%; /* Or use vw units */
    display: inline-block;
    width: 33%;
    height: 100%;
}

.container-between-imgs{
    max-width: 100%; /* Or use vw units */
    display: inline-block;
    width: 34%;
    height: 100%;

    text-align: center;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.container-right-img{
    max-width: 100%; /* Or use vw units */
    display: inline-block;
    width: 33%;
    height: 100%;
}

.left-img{
    max-width:100%;
    height:auto;
    /* width: 75%;
    height: 100%; */
    float: left;
}

.right-img{
    max-width:100%;
    height:auto;
    /* width: 75%;
    height: 100%; */
    float: right;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


/* ----------------------------------------------------------------*/
/* ------------------------ Mid Container 3 -----------------------*/
/* ----------------------------------------------------------------*/
.middle-container-3{
    max-width: 100%; /* Or use vw units */
    background-color: #0E8388;
    background: rgb(44,51,51);
    background: linear-gradient(90deg, rgba(44,51,51,1) 24%, rgba(69,165,170,1) 60%, rgba(122,176,179,1) 100%);
    margin: 0;
    width:100%; 
    height :500px;
    display: flex;
}

.container-3-1{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}
.container-3-2{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}

.container-3-3{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}

.empty-1{
    width: 5%;
    height: 100%;
}

.empty-2{
    width: 6%;
    height: 100%;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


/* ----------------------------------------------------------------*/
/* ------------------------ Mid Container 4 -----------------------*/
/* ----------------------------------------------------------------*/
.middle-container-4{
    max-width: 100%; /* Or use vw units */
    background-color: #CBE4DE;
    background: rgb(44,51,51);
    background: linear-gradient(90deg, rgba(44,51,51,1) 24%, rgba(122,176,179,1) 60%, rgba(173,251,255,1) 100%);
    margin: 0;
    width:100%; 
    height :500px;
    display: flex;
}

.container-4-1{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}
.container-4-2{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}

.container-4-3{
    max-width: 100%; /* Or use vw units */
    width: 26%;
    height: 100%;
}

.empty-1{
    width: 5%;
    height: 100%;
}

.empty-2{
    width: 6%;
    height: 100%;
}

.bottom-img{
    max-width:100%;
    height:auto;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


/* ----------------------------------------------------------------*/
/* --------------------------- Buttons ----------------------------*/
/* ----------------------------------------------------------------*/
.sign-in{
    text-decoration:none;
    color:#2D2C32;    
    text-decoration:none;
}

.btn-sign-in{
    background:linear-gradient(to bottom, #e4e1f8 5%, #e4e1f8 100%);
	background-color:#e4e1f8;
	border-radius:38px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	padding:0px 20px;
	text-decoration:none;
    margin-left: 10px;
    text-decoration:none;
}

.btn-sign-in:hover{
	background:linear-gradient(to bottom, #b0adb0 5%, #ededed 100%);
	background-color:#4e80b5;
}

.btn-sign-in:active{
	position:relative;
	top:1px;
}

.btn-try{
    background:linear-gradient(to bottom, #31A7E2 5%, #31A7E2 100%);
	background-color:#31A7E2;
	border-radius:38px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	padding:0px 20px;
	text-decoration:none;
}

.btn-try:hover{
	background:linear-gradient(to bottom, #b0adb0 5%, #ededed 100%);
	background-color:#4e80b5;
}

.btn-try:active{
	position:relative;
	top:1px;
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------------------------------------------*/
/* ----------------------------- Fonts ----------------------------*/
/* ----------------------------------------------------------------*/
.big{
    font-size: 100px;
    color:#E4E1F8;
}

.not_so_big{
    font-size: 50px;
    color:#E4E1F8;
}

.smol{
    font-size: 40px;
    color:#E4E1F8;
    height: 100%;
}
.really_smol {
    font-size: clamp(20px, 2vw, 25px); /* Adjust min, preferred, and max values as needed */
    color: #E4E1F8;
    /* height: 100%; */
    max-width:100%;
    height:auto;
    overflow-wrap: break-word;
    hyphens: auto;
  }
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/