/* ----------------------------------------------------------------*/
/* ---------------------------- Global ----------------------------*/
/* ----------------------------------------------------------------*/
  
html, body {
    /* flex-direction: column; */
    
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    background: rgb(45,44,50);
    background: linear-gradient(90deg, rgba(69,165,170,1) 20%, rgba(122,176,179,1) 60%, rgba(173,251,255,1) 100%);

    padding-top: 80px;
    padding-bottom: 100px;
}

body > main {
    margin: auto;
}

main {
    /* This allows the main content to grow and fill the space */
    flex: 1; 
    display: flex;
    flex-direction: column;
    /* This centers the content vertically */
    /* justify-content: center;  */
    align-items: left; /* This centers the content horizontally */

    max-width: 800px; /* Adjust the width as necessary */
    margin: auto;
}
  
a{
color:black;
}
  
p{
color:black;
}

h1{
    text-align: center;
}

h2{
color:black;
}

.title{
    color:#E4E1F8;
    font-size: 30px;
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.blog-post-title-link{
color:black;
}

.not_so_big{
font-size: 50px;
color:#E4E1F8;
}

.kinda_big{
    font-size: 50px;
    color:black;
    text-align: center;
}    

article {
    font-size: 1rem;
    line-height: 1.6;
/* Additional typography styles as necessary */
}